body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 600px) {
  Table {
    width: 100%;
  }
 
  td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
  td:after {
    content: attr(data-value);
    display: block;
  }
}

@media (max-width: 600px) {
  footer {
    
    bottom: 0;
    left: 0;
    right: 0;
  }
}



@media (max-width: 600px) {
  header h2 {
    font-size: 18px;
  }
}